<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">jonas</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/opacidade</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.pool_size">1</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<mapping class="br.com.testeOpacidade.model.Marca" />
		<mapping class="br.com.testeOpacidade.model.Setor" />
		<mapping class="br.com.testeOpacidade.model.Modelo" />
		<mapping class="br.com.testeOpacidade.model.Veiculo" />
		<mapping class="br.com.testeOpacidade.model.Usuario" />

	</session-factory>
</hibernate-configuration>
